@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*CONFIG*/
/*Breakpoint Strategy*/

/* Mobile: 320px - 768px (default) */
/* Tablet: 768px - 1024px */
/* Desktop: 1024px+ */
/* Large Desktop: 1440px+ */

/*Font Size*/

/*body: 16px*/
/*primary:18px*/
/*header-large: 48px*/
/*header-medium: 32px*/
/*header-small: 24px*/

/*Mobile First Approach*/
:root{
/*Colors*/
--primary-red:hsl(7, 99%, 70%);
--primary-yellow:hsl(51, 100%, 49%);
--graphic-text-green:hsl(167, 40%, 24%);
--photography-blue: hsl(198, 62%, 26%);
--footer-green:hsl(167, 34%, 41%);

--gray-950: hsl(212, 27%, 19%);
--gray-600: hsl(213, 9%, 39%);
--gray-550: hsl(232, 10%, 55%);
--gray-400: hsl(210, 4%, 67%);
--white: hsl(0, 100%, 100%);


/* Spacing system */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-2xl: 4rem;

 /* Typography */
--font-primary:'Barlow','sans-serif';
--font-header:'Fraunces','sans-serif';
--font-size-body: 16px;
--font-size-primary: 18px;
--font-size-header-lg: 48px;
--font-size-header-md: 28px;
--font-size-header-sm: 20px;
--font-weight-header-lg:900;
--font-weight-header-md:700;
--font-weight-header-sm:600;


}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:var(--font-primary);
    line-height:1.6;
    width:100%;
    min-height:100vh;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*HEADER*/

.header{
    color:var(--white);
    position:fixed;   
    z-index:1;
    top:0px;
    width:100%;

}
.navbar{
    padding:0  var(--space-md) ;
    display:flex;
    align-items:center;

}
.brand{
    font-family:var(--font-header);
    font-size:var(--font-size-header-md);
    font-weight:var(--font-weight-header-md);
    /* letter-spacing: */
}
.nav-menu{
    margin-left:auto;
    padding: var(--space-xs) 0;  /*padding decides the height of entire header*/
    min-width:35vw;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.contact-btn{
    padding-inline:var(--space-sm);
    color:var(--gray-950);              /*to override user agent color declaration (user agent applies to all form elements)*/
    font-weight:var(--font-weight-header-sm);
    padding-block:calc(var(--space-sm)/2);
    border-width:1px;
    border-color:transparent;
    border-style:solid;
    border-radius:var(--space-sm);
    background-color:hsla(0 0% 100%)
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*HERO-SECTION*/
.hero-section{
    height:120vh;
    width:100%;
    position:relative;
    /* margin-block-start:-108px; */
    background-color:black;
    background-image:url("./images/desktop/image-header.jpg");
    background-size:cover;
    aspect-ratio:9/5;
    /* background-position:0px -64px;     To get the orange up!!!*/   
    background-position:center;

}
.hero-content-box{
    color:var(--white);
    padding-block-start: calc(var(--space-2xl)*3.5);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:calc(var(--space-lg)*2);


}
.hero-content-box span:nth-child(1){
    font-family: var(--font-header);
    font-size:var(--font-size-header-lg);
    font-weight:var(--font-weight-header-lg);
    letter-spacing:0.2em;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*PROBLEM-SOLUTION SECTION*/

.problem-solution-section1,.problem-solution-section2{
    display:grid;
    grid-template-columns:1fr;
}
.content-box{
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.image-box{
    background-image:url("")
}